In [235]:
import pandas as pd
import numpy as np 
import re
from datetime import datetime

jedyna = pd.read_csv("KLDSMG_WOS___175L_20200501_00-01.csv")

In [236]:
def oddzial(value):
    if len(value)<3:
        return np.nan
    else:
        return value[:2]
def dane_blad(value):
    if len(value)<3:
        return np.nan
    else:
        return value[2]
def machine(value):
    if len(value)<6:
        return np.nan
    else:
        return value[3:6]
def new_1(value):
    if len(value)<10:
        return np.nan
    else:
        return value[7:17]
def new_1_2(value):
    if len(value)<10:
        return np.nan
    else:
        value = re.sub(r"[^A-Za-z]+", '', value[17:28])
        return value
def new_1_4(value):
    if len(value)<27:
        return np.nan
    else:
        return value[28]
def new_1_3(value):
    if len(value)<28:
        return np.nan
    else:
        return value[29:]
def czas(col):
    if type(col[0]) == 'NoneType' or col[0] == None or len(col[1])<4:
        return np.nan
    else:
        value = col[0] + ' ' + col[1]
        return datetime.strptime(value, '%Y/%m/%d %H:%M:%S.%f')
    
def preprocessing(jedyna):
    jedyna = jedyna['ASCII'].str.split('|', expand=True)
    jedyna.columns=['test', '1', 'Data', 'Czas', '4', '5', '6']
    jedyna['oddzial'] = jedyna['test'].apply(oddzial)
    jedyna['blad'] = jedyna['test'].apply(dane_blad)
    jedyna['machine'] = jedyna['test'].apply(machine)
    jedyna['New_1'] = jedyna['test'].apply(new_1)
    jedyna['New_1_2'] = jedyna['test'].apply(new_1_2)
    jedyna['New_1_3'] = jedyna['test'].apply(new_1_3)
    jedyna['New_1_4'] = jedyna['test'].apply(new_1_4)
    jedyna.dropna(inplace=True)
    jedyna['Datetime'] = jedyna[['Data', 'Czas']].apply(czas, axis=1)
    return jedyna[['oddzial', 'blad', 'machine', 'New_1', 'New_1_2', 'New_1_3', 'New_1_4', 'Datetime']]

In [237]:
result = preprocessing(jedyna)
result

,oddzial,blad,machine,New_1,New_1_2,New_1_3,New_1_4,Datetime
2,KL,D,SMG,WOS___175L,VERMACPRO,,D,2020-05-01 00:00:00
3,KL,D,SMG,WOS___175L,ENGRPM,rpm,A,2020-05-01 00:00:00
4,KL,D,SMG,WOS___175L,FUELUS,l_h,A,2020-05-01 00:00:00
5,KL,D,SMG,WOS___175L,TRNLUP,___,D,2020-05-01 00:00:00
6,KL,D,SMG,WOS___175L,GROILP,kPa,A,2020-05-01 00:00:00
...,...,...,...,...,...,...,...,...
42982,KL,D,SMG,WOS___175L,TRNAUT,___,D,2020-05-01 01:00:00
42983,KL,D,SMG,WOS___175L,TRNBPS,__%,A,2020-05-01 01:00:00
42984,KL,D,SMG,WOS___175L,HYDOILT,__C,A,2020-05-01 01:00:00
42985,KL,D,SMG,WOS___175L,HYDOILP,MPa,A,2020-05-01 01:00:00
42986,KL,D,SMG,WOS___175L,TEMPIN,__C,A,2020-05-01 01:00:00